<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.neoseeker.android"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7" />

    <application android:icon="@drawable/neoseeker_swoosh" android:label="@string/app_name">
        <activity android:name=".NeoEntry"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NeoMain"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name="OAuthCustomWeb">
		</activity>
        <activity android:label="@string/app_name" android:name="NotificationsActivity">
		</activity>
        <activity android:label="@string/app_name" android:name="PMListActivity">
		</activity>
    </application>
    <application android:icon="@drawable/neoseeker_swoosh" android:label="@string/app_name" android:name="Neoseeker"></application>
</manifest>